/* style.css */
body {
    font-family: Arial, sans-serif;
}

.header h1, .footer h3 {
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #79fa22;
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    max-width: 100%;
    border-radius: 10px;
}

.row h2 a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.row h2 a:hover {
    color: #0056b3;
}

.img-thumbnail {
    border: none;
    margin-bottom: 10px;
}

h5 {
    font-weight: 600;
    margin-top: 5px;
}

#sante{
    display: block;
}

#media, #btp{
    display: none;
}